@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-72 {
    font-size: 72px;
}

body {
    background-color: #D3D3D3;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error-image {
    width: auto;
    height: 400px;
}

/* You can add global styles to this file, and also import other style files */